.mainbox {
    /* border: solid red;    */
    margin: auto; 
    display: grid;
   
    justify-content: center;
    background-color: rgb(241,243,246);
}

.leftdiv {
    width: 350px;
    padding: 10px;
}

.leftflex1 {
    padding: 10px;
    gap: 10px;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}


.listitem {
    color: black;
    font-weight: normal;
    transition: color 0.1s, font-weight 0.1s;
}

.listitem:hover {
    color: orange;
    font-weight: bold;
}