#topsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.zillowstatic.com/bedrock/app/uploads/sites/5/2023/07/1920w_nationalbrand.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    width: 100%;
    margin: 0;
  }
  
  #topsection > div > h1 {
    color: #ededed;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin-top: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  #second {
    margin-top: 0;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
  }
  
  .button-row button {
    margin: 5px;
    padding: 10px 20px;
    background-color: rgba(5, 40, 178, 0.2);
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
  }
  
  .button-row button:hover {
    background-color: #fff;
    color: #001182;
    font-weight: 100;
  }
  
  /* Media Query for smaller screens */
  @media screen and (max-width: 600px) {
    #topsection {
      height: 160px;
    }
  
    #topsection > div > h1 {
      font-size: 16px; 
      margin-top: 10px; 
    }
  
    .button-row button {
      padding: 8px 16px; 
      font-size: 14px; 
    }
  }
  